<?xml version="1.0" encoding="utf-8"?>
<DtoObject productName="COBISCorp.eCOBIS.InternetBanking.WebApp.Commons.DTO" productVersion="4.6.1.0">
  <name>Context</name>
  <nameSpace>COBISCorp.eCOBIS.InternetBanking.WebApp.Commons.DTO</nameSpace>
  <javaPackage>cobiscorp.ecobis.internetbanking.webapp.commons.dto</javaPackage>
  <ns>http://dto.commons.webapp.internetbanking.ecobis.cobiscorp</ns>
  <TemplateProperties />
  <properties>
    <property name="server" propertyNet="Server" propertyJava="server" setterJavaMethod="setServer" getterJavaMethod="getServer" xsdType="string" netType="string" javaType="String" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="false" encrypted="false" maxLength="0" />
    <property name="entityId" propertyNet="EntityId" propertyJava="entityId" setterJavaMethod="setEntityId" getterJavaMethod="getEntityId" xsdType="int" netType="int" javaType="int" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="true" encrypted="false" maxLength="0" />
    <property name="sessionId" propertyNet="SessionId" propertyJava="sessionId" setterJavaMethod="setSessionId" getterJavaMethod="getSessionId" xsdType="string" netType="string" javaType="String" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="false" encrypted="false" maxLength="0" />
    <property name="profileId" propertyNet="ProfileId" propertyJava="profileId" setterJavaMethod="setProfileId" getterJavaMethod="getProfileId" xsdType="int" netType="int" javaType="int" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="true" encrypted="false" maxLength="0" />
    <property name="serviceId" propertyNet="ServiceId" propertyJava="serviceId" setterJavaMethod="setServiceId" getterJavaMethod="getServiceId" xsdType="int" netType="int" javaType="int" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="true" encrypted="false" maxLength="0" />
    <property name="culture" propertyNet="Culture" propertyJava="culture" setterJavaMethod="setCulture" getterJavaMethod="getCulture" xsdType="string" netType="string" javaType="String" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="false" encrypted="false" maxLength="0" />
    <property name="companyId" propertyNet="CompanyId" propertyJava="companyId" setterJavaMethod="setCompanyId" getterJavaMethod="getCompanyId" xsdType="int" netType="int" javaType="int" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="true" encrypted="false" maxLength="0" />
    <property name="terminalId" propertyNet="TerminalId" propertyJava="terminalId" setterJavaMethod="setTerminalId" getterJavaMethod="getTerminalId" xsdType="int" netType="int" javaType="int" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="true" encrypted="false" maxLength="0" />
    <property name="branchSSN" propertyNet="BranchSSN" propertyJava="branchSSN" setterJavaMethod="setBranchSSN" getterJavaMethod="getBranchSSN" xsdType="int" netType="int" javaType="int" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="true" encrypted="false" maxLength="0" />
    <property name="corr" propertyNet="Corr" propertyJava="corr" setterJavaMethod="setCorr" getterJavaMethod="getCorr" xsdType="string" netType="string" javaType="String" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="false" encrypted="false" maxLength="0" />
    <property name="corrServer" propertyNet="CorrServer" propertyJava="corrServer" setterJavaMethod="setCorrServer" getterJavaMethod="getCorrServer" xsdType="int" netType="int" javaType="int" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="true" encrypted="false" maxLength="0" />
    <property name="rTY" propertyNet="RTY" propertyJava="rTY" setterJavaMethod="setRTY" getterJavaMethod="getRTY" xsdType="string" netType="string" javaType="String" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="false" encrypted="false" maxLength="0" />
    <property name="isVirtualBanking" propertyNet="IsVirtualBanking" propertyJava="isVirtualBanking" setterJavaMethod="setIsVirtualBanking" getterJavaMethod="getIsVirtualBanking" xsdType="string" netType="string" javaType="String" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="false" encrypted="false" maxLength="0" />
    <property name="org" propertyNet="Org" propertyJava="org" setterJavaMethod="setOrg" getterJavaMethod="getOrg" xsdType="string" netType="string" javaType="String" cobisMapping="" isInherit="false" isComplexType="false" isCollectionType="false" required="false" encrypted="false" maxLength="0" />
  </properties>
</DtoObject>