<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ms="urn:schemas-microsoft-com:xslt" xmlns:js="urn:the-xml-files:xslt">
  <display-name>COBISCorp.eCOBIS.BankingServicesOperations.Service</display-name>
  <context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>file:///${sys:COBIS_HOME}/CTS_MF_CLIENT/infrastructure/cts-log-config.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>log4jServletFilter</filter-name>
    <filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>log4jServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>cobiscorp.ecobis.cts.integration.services.administration.Administration</listener-class>
  </listener>
  <env-entry>
    <env-entry-name>ALGN_FILE</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value />
  </env-entry>
  <env-entry>
    <env-entry-name>OBJ_CACHE_INSTANCES</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>CTSClientTRSession</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>AppName</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>COBISCorp.eCOBIS.BankingServicesOperations.Service</env-entry-value>
  </env-entry>
  <servlet>
    <display-name>Administration</display-name>
    <servlet-name>Administration</servlet-name>
    <servlet-class>cobiscorp.ecobis.cts.integration.services.administration.Administration</servlet-class>
    <init-param>
      <param-name>PATH_CTS_MF_CLIENT</param-name>
      <param-value>CTS_MF_CLIENT/master-cts-mf-client-as.xml
              </param-value>
    </init-param>
    <init-param>
      <param-name>COBIS_APP_NAME</param-name>
      <param-value>COBISCorp.eCOBIS.BankingServicesOperations.Service</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/Administration</url-pattern>
  </servlet-mapping>
</web-app>